@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display:wght@800&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
    background: url("https://images.pexels.com/photos/3944463/pexels-photo-3944463.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(2px);
}

  #txt {
      color: white;
      font-family: 'Big Shoulders Stencil Display', cursive;
      justify-content: center;
      text-align: center;
      font-size: 8rem;
      letter-spacing: 3px;
      background: rgba(0, 0, 0, 0.5);
      border-radius: 0.5rem;
      backdrop-filter: blur(10px);
  }

